---
layout: page
title: Style Guide
image: /genImag/Filename_20210610-185327.png
---
<p>Ancient holy wars</p>
<p>Dead religions, holocausts</p>
<p>New regimes, old ideas</p>

<hr/>

<h1>That's now myth, that's now real</h1>
<h2>That's now myth, that's now real</h2>
<h3>That's now myth, that's now real</h3>
<h4>That's now myth, that's now real</h4>
<h5>That's now myth, that's now real</h5>
<h6>That's now myth, that's now real</h6>

<hr/>

<ol>
  <li>Original sin, genetic fate</li>
  <li>Revolutions, spinning plates</li>
  <li>It's important to stay informed</li>
</ol>

<hr/>

<ul>
  <li>The commentary to comment on</li>
  <li>Oh, and no one every really knows you and life is brief</li>
  <li>So I've heard, but what's that gotta do with this black hole in me?</li>
</ul>

<hr/>

<blockquote>
  <p>Age-old gender roles. Infotainment, capital. Golden bows and mercury. Bohemian nightmare, dust bowl chic</p>
  <cite>fjm</cite>
</blockquote>

<hr/>

<pre>
<code>
code {
  this documentary: lost on me;
  news: $satirical;
  energy: free
}
</code>
</pre>

<hr/>

<img src="/genImag/Filename_20210610-185327.png" alt="Grid Image"/>
<p>You can <code>use inline code</code> and append <code>#full</code> to the end of an image URL for full width images.</p>

<img src="/genImag/Filename_20210610-185327.png#full" alt="Full Image"/>

<hr/>

<iframe width="560" height="315" src="https://www.youtube.com/watch?v=vi-sW49WlRs" frameborder="0" allowfullscreen></iframe>

<hr/>

<iframe src="https://vimeo.com/130759642" width="640" height="640" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

<hr/>

<iframe height='400' scrolling='no' title='Fjm' src='https://www.youtube.com/watch?v=Bx-Y6qsuLxE frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'></iframe>

<hr/>

<p>Mobile lifestyle, loveless sex. Independence, happiness. Oh, and no one ever knows the real you and life is brief. So I've heard, but what's that gotta do with this atom bomb in me?.</p>
