<article class="posts__post" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
  <a class="posts__link" href="{{ post.url | prepend: site.baseurl }}" itemprop="url">
    {% if post.imag %}
    <div>
      <h2 class="posts__text"><strong itemprop="name">{{ post.title }}</strong></h2>
    </div>
      {% if post.image %}
      <figure class="posts__img">
        <img src="{{ post.image }}" alt="{{ post.title }}" data-aos="fade-in" itemprop="image"/>
      </figure>
      {% endif %}
    {% else %}
    <div>
      {% if post.image %}
      <figure class="posts__img">
        <img src='{{ post.image }}' alt="{{ post.title }}" data-aos="fade-in" itemprop="image"/>
      </figure>
      {% endif %}
      <h2 class="posts__text"><strong itemprop="name">{{ post.title }}</strong> — <span itemprop="description">{{ post.content | strip_html | truncatewords: 35, "" }}</span></h2>
    </div>
    {% endif %}
  </a>
</article>
